@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Google', sans-serif;
    src: url('./Fonts/GoogleSansDisplay-Medium-v1.27.ttf');
}

@font-face {
    font-family: 'Kanit', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
}

.kanit {
    font-family: 'Kanit', sans-serif;
}